* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}

nav {
  height: 60px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 1.98256px 5.4564px rgba(0, 0, 0, 1);
}
.navimage {
  max-width: 100px;
}
.kartimage {
  padding-top: 10px;
  width: 550px;
  height: 230px;
}
.bodycontent {
  padding-left: 20px;
  padding-top: 5px;
}
.card {
  width: 175px;
  margin-left: 5px;
}
.katieimage {
  width: 175px;
  height: 180px;
}
.ratingimg {
  height: 20px;
  width: 20px;

  box-shadow: 0px 1.98256px 4.4564px rgba(0, 0, 0, 1);
}
.ratingnumber {
  padding-left: 4px;
}
.lifelession {
  font-size: 14px;
}
.five {
  padding-left: 5px;
  color: grey;
}
.rate {
  font-style: bold;
}
.cardss {
  display: flex;
  position: inherit;
}
